In [2]:
# NUMBERS

a=18
print(a)

18

In [1]:
a=1
b=3
print(a+b)
print(a-b)
print(a/b)
print(a%b)
print(a*b)

4
-2
0.3333333333333333
1
3

In [5]:
print(a)

1

In [6]:
type(a)

int

In [2]:
print(type(a))

<class 'int'>

In [3]:
# STRING

s1='isha'
s2= 'meenu'
s3= 'divya'
print(s1)
type(s2)

isha

str

In [18]:
# STRING INDEX

print(s1[1])
print(s2[3])
print(s1[0:3])
print(s3[1:4])
print(s1 + " " + s1)

s
n
ish
ivy
isha isha

In [20]:
s4= "Hi Isha"
print(s4)
print(type(s4) , s1 +" "+s4)

Hi Isha
<class 'str'> isha Hi Isha

In [52]:
# LIST

l1=['a' , 'b', 'c']

l2=[1 , "Hi" , "Python", "c" , s1 , s3]

print(l2[2][3])                         # index in index

print(l2[3:])
print(l2[3])
print(l2)
print(l2 + l2 +  l1*2)           #concatinate
print('\n',l1)                    # new line
print('\t',l1)                  # tab

l2[3] = "isha"                  # update
print(l2[3])
print(l2)

h
['c', 'isha', 'divya']
c
[1, 'Hi', 'Python', 'c', 'isha', 'divya']
[1, 'Hi', 'Python', 'c', 'isha', 'divya', 1, 'Hi', 'Python', 'c', 'isha', 'divya', 'a', 'b', 'c', 'a', 'b', 'c']

 ['a', 'b', 'c']
	 ['a', 'b', 'c']
isha
[1, 'Hi', 'Python', 'isha', 'isha', 'divya']

In [42]:
print(type(l1) , l1)

<class 'list'> ['a', 'b', 'c']

In [49]:
# TUPLE

t= ( 'hi' , 'python' , 2 , 5 )
print(t)
print(t[1][1])
print(t[1:3])
print(type[t])

('hi', 'python', 2, 5)
y
('python', 2)

In [58]:
# DICTONARY

d={ 1:'isha' , 2:'divya' , 3:'suneet'}
print(d)
print('first name is', d[3])                   # here 3 is the key which will return the value in statement.
d[1] = 'ISHA'                              # update
print(d)

{1: 'isha', 2: 'divya', 3: 'suneet'}
first name is suneet
{1: 'ISHA', 2: 'divya', 3: 'suneet'}
{1: 'ISHA', 2: 'divya', 3: 'suneet'}

In [59]:

# OPERATORS     ( ARITHMATIC , ASSIGNMENT , LOGICAL ,COMPARISION )

a,b,c = 10 ,20 ,30
print(a,b,c)

10 20 30

In [66]:
k=10
print(a>k)
print(a>=k)
print(a>k and c>k)
print(b>k or k<c)
print(not(a>k))                # NOT OPERATOR

False
True
False
True
True

In [68]:

# DATA TYPE OPERATIONS

# ADDRESS

a=3
b=4
print(id(a))
print(id(b))

8791213580752
8791213580784

In [70]:
print(type(a))
print(type(4))
print(type(l1))

<class 'int'>
<class 'int'>
<class 'list'>

In [95]:
l1.append(25)                  # APPEND
print(l1)
l1.pop(2)                      # POP
print(l1)
l1.append(10)
print(l1)
l1.insert(2,13)                # INSERT
print(l1)
l1.pop(0)
print(l1)

[13, 13, 25, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25]
[13, 13, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25]
[13, 13, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10]
[13, 13, 13, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10]
[13, 13, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10, 25, 10]

In [102]:

a=1
b=2
a+=b
print(a)

3

In [ ]:

## make a calculator .  just add , mul , div , sub of two numbers


first_number = int(input(" enter 1st num : "))
second_number = int(input(" enter 2nd num : "))
operation_performed = input("operation : ")

if operation_performed=='add':
    print(first_number + second_number)
elif operation_performed=='sub':
    print(first_number - second_number)
elif operation_performed=='mul':
     print(first_number * second_number)
elif operation_performed=='div':
    print(first_number % second_number)

In [ ]:

first_number = int(input(" enter 1st num : "))
second_number = int(input(" enter 2nd num : "))
operation_performed = input("operation : ")

if operation=='add':
    print(first_number + second_number)
elif operation_performed=='sub':
    print(first_number - second_number)
elif operation_performed=='mul':
     print(first_number * second_number)
elif operation_performed=='div':
    print(first_number % second_number)

In [16]:
a= int(input(" enter frst num : "))
b= int(input("enter second num : "))
o= input(" enter opetarion : ")

x=a+b
y=a*b
z=a-b
w=a%b

if o=='add':
    print(x)
elif o=='mul':
    print(y)
elif o=='div':
     print(w)
elif 0=='sub':
     print(z)

 enter frst num :  4
enter second num :  3
 enter opetarion :  div

1